<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698348648054-deficqj6qc2opp539kqjnp3ig3k9iaoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698348648054-deficqj6qc2opp539kqjnp3ig3k9iaoj</string>
	<key>API_KEY</key>
	<string>AIzaSyBr4oJhV2h8HqEfCI7uC5M7YvLEfab81Ik</string>
	<key>GCM_SENDER_ID</key>
	<string>698348648054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.sagron.sessionhive</string>
	<key>PROJECT_ID</key>
	<string>sessionhive-7</string>
	<key>STORAGE_BUCKET</key>
	<string>sessionhive-7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698348648054:ios:4c022da510c3a063cb9157</string>
</dict>
</plist>